	<tr>
		<% if yoga_class.day == 1 %>
			<td>Monday</td>
		<% elsif yoga_class.day == 2 %>
			<td>Tuesday</td>
		<% elsif yoga_class.day == 3 %>
			<td>Wednesday</td>
		<% elsif yoga_class.day == 4 %>
			<td>Thursday</td>
		<% elsif yoga_class.day == 5 %>
			<td>Friday</td>
		<% elsif yoga_class.day == 6 %>
			<td>Saturday</td>
		<% elsif yoga_class.day == 7 %>
			<td>Sunday</td>
		<% else %>
		  <td></td>
		<% end %>
		<td><%= yoga_class.time.strftime('%l:%M %p') %></td>
		<% if signed_in? %>
		  <td><%= link_to yoga_class.name, yoga_class %></td>
		<% else %>
		  <td><%= yoga_class.name %></td>
		<% end %>
	    <% if signed_in? %>
	      <td><%= link_to yoga_class.instructor, user_path(yoga_class.instructor) %></td>
	    <% else %>
	      <td><%= yoga_class.instructor %></td>
	    <% end %>
		<% if can? :destroy, @yoga_class %>
		<td>
			<%= link_to "Edit", edit_yoga_class_path(yoga_class) %> |
			<%= link_to "Delete", yoga_class, method: :delete,
		                              data: { confirm: "You sure?" } %></td>
		<% end %>
	    <% if signed_in? %>
	      <td>
			<%= form_tag charges_path do %>
			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					  data-label="Sign Up"
			          data-description="One Class Pass"
			          data-amount="1000"></script>
			<% end %>
		  </td>
	    <% else %>
	      <td>
			<!-- Button trigger modal -->
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
			  Add Me
			</button>
	      </td>
	    <% end %>
	</tr>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome</h4>
      </div>
      <div class="modal-body">
        Please Sign in or Sign up.
      </div>
      <div class="modal-footer">
        <%= link_to "Sign in", signin_path, :class => "btn btn-default" %>
        <%= link_to "Sign up", signup_path, :class => "btn btn-default" %>
      </div>
    </div>
  </div>
</div>



