	<tr>
		<td><%= link_to yoga_class.name, yoga_class %></td>
		<td><%= yoga_class.desc %></td>
		<td><%= yoga_class.day %></td>
		<td><%= yoga_class.time.strftime('%l:%M %p') %></td>
		<td><%= yoga_class.instructor %></td>
		<% if can? :destroy, @yoga_class %>
		<td><%= link_to "", yoga_class, method: :delete,
		                              data: { confirm: "You sure?" }, :class => "glyphicon glyphicon-trash" %></td>
		<% end %>
	</tr>




