	<tr>
		<% if yoga_class.day == 1 %>
			<td>Monday</td>
		<% elsif yoga_class.day == 2 %>
			<td>Tuesday</td>
		<% elsif yoga_class.day == 3 %>
			<td>Wednesday</td>
		<% elsif yoga_class.day == 4 %>
			<td>Thursday</td>
		<% elsif yoga_class.day == 5 %>
			<td>Friday</td>
		<% elsif yoga_class.day == 6 %>
			<td>Saturday</td>
		<% elsif yoga_class.day == 7 %>
			<td>Sunday</td>
		<% else %>
		  <td></td>
		<% end %>
		<td><%= yoga_class.time.strftime('%l:%M %p') %></td>
		<% if signed_in? %>
		  <td><%= link_to yoga_class.name, yoga_class %></td>
		<% else %>
		  <td><%= yoga_class.name %></td>
		<% end %>
		<td><%= yoga_class.desc %></td>
	    <% if signed_in? %>
	      <td><%= link_to yoga_class.instructor, user_path(yoga_class.instructor) %></td>
	    <% else %>
	      <td><%= yoga_class.instructor %></td>
	    <% end %>
		<% if can? :destroy, @yoga_class %>
		<td>
			<%= link_to "", edit_yoga_class_path(yoga_class), :class => "glyphicon glyphicon-edit" %>
			<%= link_to "", yoga_class, method: :delete,
		                              data: { confirm: "You sure?" }, :class => "glyphicon glyphicon-trash" %></td>
		<% end %>
	</tr>




