<% provide(:title, "Edit Class") %> 
<h1></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@yoga_class) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :desc %>
	  
      <%= f.label :day %>
      <%= f.select :day, [['Select a day...'], ['Monday','1'], ['Tuesday','2'], ['Wednesday','3'], ['Thursday','4'], ['Friday','5'], ['Saturday','6'], ['Sunday','7']] %>

	  <%= f.label :time %><br \>
	  <%= f.time_select :time, {ampm: true}, :time_separator => "" %>

	  <%= f.label :instructor %>
	  <%= f.select :instructor, options_from_collection_for_select(User.find_all_by_instructor(true), "name", "name", User) %> 
	  
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>