<% provide(:title, 'Add Class') %>
<div class="container-fluid" style="padding-top: 50px;">
	
            <%= form_for @yoga_class do |f| %>
			
			  <div class="col-md-4 col-md-offset-4">
              	<%= render 'shared/error_messages', object: f.object %>      
              	<%= f.text_field :name, placeholder: "Class Name" %>
              	<%= f.text_field :desc, placeholder: "Class Description" %>
				<%= f.select :day, options_for_select([['Select a day...'], ['Monday','1'], ['Tuesday','2'], ['Wednesday','3'], ['Thursday','4'], ['Friday','5'], ['Saturday','6'], ['Sunday','7']]) %>
				<div class="field">
					<%= time_select :yoga_class, :time, {ampm: true} %>
				</div>
              	<%#= f.time_field :time, placeholder: "Time" %>
				<%= f.text_field :instructor, placeholder: "Instructor Name" %>       
		      	<%= f.submit "Add Class", class: "btn btn-large btn-primary" %>
			  </div>
			  
            <% end %>
</div>