<% provide(:title, @yoga_class.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
		<span><%= @yoga_class.name %></span>
      </h1>
	  <span><%= @yoga_class.desc %></span>
	  <span><%= @yoga_class.day %></span>
	  <span><%= @yoga_class.time.strftime('%l:%M %p') %></span>
	  <span><%= @yoga_class.instructor %></span>
    </section>
  </aside>
</div>