<% provide(:title, @yoga_class.name) %>
<div class="row">
	<div class="col-md-12">
		<%= link_to "Schedule", yoga_classes_path, class: "crumb" %>
	</div>
	<div class="col-md-6 col-md-offset-3 event-title">
		<%= @yoga_class.name %>
	</div>
	<div class="col-md-6 col-md-offset-3 event-desc">
			<%= @yoga_class.desc %>
		</div>
		<div class="col-md-6 col-md-offset-3 event-desc">
	  		<%= @yoga_class.day %>
		</div>
		<div class="col-md-6 col-md-offset-3 event-desc">
	  	  	<%= @yoga_class.time.strftime('%l:%M %p') %>
		</div>
		<div class="col-md-6 col-md-offset-3 event-desc">
	  	  	<%= @yoga_class.instructor %>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<% if can? :destroy, @yoga_class %>
				<span class="manage"><%= link_to 'Edit', edit_yoga_class_path(@yoga_class) %></span> |
				<span class="manage"><%= link_to 'Delete', @yoga_class, method: :delete, data: { confirm: 'Are you sure?' } %></span>
			<% end %>
		</div>
</div>