<% provide(:title, @yoga_class.name) %>
		<p><%= link_to "Schedule", yoga_classes_path, class: "crumb" %></p>
		<p><%= @yoga_class.name %></p>
		<p><%= @yoga_class.desc %></p>
		<p><%= @yoga_class.day %></p>
		<p><%= @yoga_class.time.strftime('%l:%M %p') %></p>
		<p><%= @yoga_class.instructor %></p>
		<% if can? :destroy, @yoga_class %>
				<p><span class="manage"><%= link_to 'Edit', edit_yoga_class_path(@yoga_class) %></span> |
				<span class="manage"><%= link_to 'Delete', @yoga_class, method: :delete, data: { confirm: 'Are you sure?' } %></span></p>
		<% end %>