<% provide(:title, 'Instructors') %>

<div class="manage">
	<% if can? :destroy, @user %>
		<span class="manage"><%= link_to "Users", users_path %></span> |
		<span class="manage"><%= link_to "Instructors", instructors_path %></span>
	<% end %>
</div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>