<% provide(:title, 'Sign up') %>
<div class="row-fluid" style="padding-top: 50px;">
        <div class="span8">
              <h1>inhale, exhale, flow</h1>
              <p class="lead">a donation based studio | suggested donation $10</p>
        </div>


          <div class="span4">
            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
      
              <%= f.text_field :name, placeholder: "Your Name" %>

              <%= f.text_field :email, placeholder: "Your Email" %>

              <%= f.password_field :password, placeholder: "New Password" %>

              <%= f.password_field :password_confirmation, placeholder: "Re-enter Password" %>
        
                  <%= f.hidden_field :instructor, :value => '1' %>
        
                  <p class="signup-agreement">
                By signing up, you agree to our
                <a href="#" target="_blank">Terms</a>
              </p>

              <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
            <% end %>

        </div>
</div>