<div class="manage">
	<% if can? :destroy, @user %>
		<span class="manage"><%= link_to "Add an Event", new_event_path %></span>
	<% end %>
</div>

<div class="container-fluid">	
	  
	  <% @events.each do |event| %>
	  <div class="row">
	  <div class="col-md-12 event-title">
		<% if signed_in? %>
	      	<%= link_to event.title, event %>
		<% else %>
			<%= event.title %>
		<% end %>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-md-12 event-manage">
		<% if can? :destroy, @event %>
        	<span class="manage"><%= link_to 'Edit', edit_event_path(event) %></span> |
        	<span class="manage"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></span>
		<% end %>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-md-12 event-desc">
        <%= event.desc %>
	  </div>
	  </div>
	  <% end %>

</div>

