<div class="container-fluid">	
	  
	  <% @events.each do |event| %>
	  <div class="row">
	  <div class="col-md-12 event-title">
		<% if signed_in? %>
	      	<%= link_to event.title, event %>
		<% else %>
			<%= event.title %>
		<% end %>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-md-12 event-desc">
        <%= event.desc %>
	  </div>
	  </div>
	  <div class="row">
	  <div class="col-md-12 event-manage">
		<% if can? :destroy, @event %>
        	<%= link_to 'Show', event %>
        	<%= link_to 'Edit', edit_event_path(event) %>
        	<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	  </div>
	  </div>
	  <% end %>

</div>

