<p id="notice"><%= notice %></p>
<%= link_to 'Events', events_path, class: "crumb" %>
<div class="row">
<div class="col-md-12 event-title">
	<%= @event.title %>
</div>
</div>
<div class="row">
<div class="col-md-12 event-manage">
<% if can? :destroy, @event %>
	<span class="manage"><%= link_to 'Edit', edit_event_path(@event) %></span> |
	<span class="manage"><%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %></span>
<% end %>
</div>
</div>
<div class="row">
<div class="col-md-12 event-desc">
	<%= @event.desc %>
</div>
</div>