<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-tag">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Prana One", root_path, id: "logo", class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-tag">
      <ul class="nav navbar-nav navbar-left">
	    <li role="presentation">
	      <%= link_to(root_path) do %>
	        <span class="glyphicon glyphicon-home"></span> Home
	      <% end %>
	    </li>
		<% if signed_in? & (can? :update, @yoga_class) %>
		<li role="presentation">
		  <%= link_to(yoga_classes_path) do %>
		   <span class="glyphicon glyphicon-list"></span> Schedule
	      <% end %>
	    </li>
		<li role="presentation">
		  <%= link_to(users_path) do %>
		   <span class="glyphicon glyphicon-globe"></span> Users
	      <% end %>
	    </li>
		<li role="presentation">
		  <%= link_to(events_path) do %>
		   <span class="glyphicon glyphicon-calendar"></span> Events
	      <% end %>
	    </li>
		<li role="presentation">
		  <%= link_to(teach_path) do %>
		   <span class="glyphicon glyphicon-tower"></span> Train
	      <% end %>
	    </li>
	    <li role="presentation">
	      <%= link_to(rates_path) do %>
	        <span class="glyphicon glyphicon-tasks"></span> Rates
	      <% end %>
	    </li>
	    <li role="presentation">
	      <%= link_to(current_user) do %>
	        <span class="glyphicon glyphicon-user"></span> Me
	      <% end %>
	    </li>
	    <li role="presentation">
	      <%= link_to(edit_user_path(current_user)) do %>
	        <span class="glyphicon glyphicon-cog"></span> Settings
	      <% end %>
	    </li>         
        <% else %>
	    <li role="presentation">
	      <%= link_to(yoga_classes_path) do %>
	        <span class="glyphicon glyphicon-list"></span> Schedule
	      <% end %>
	    </li>
	    <li role="presentation">
	      <%= link_to(events_path) do %>
	        <span class="glyphicon glyphicon-calendar"></span> Events
	      <% end %>
	    </li>
		<li role="presentation">
		  <%= link_to(teach_path) do %>
		   <span class="glyphicon glyphicon-tower"></span> Train
	      <% end %>
	    </li>
	    <li role="presentation">
	      <%= link_to(instructors_path) do %>
	        <span class="glyphicon glyphicon-user"></span> Instructors
	      <% end %>
	    </li>
	    <li role="presentation">
	      <%= link_to(rates_path) do %>
	        <span class="glyphicon glyphicon-tasks"></span> Rates
	      <% end %>
	    </li>
		<% if signed_in? %>
	    <li role="presentation">
	      <%= link_to(current_user) do %>
	        <span class="glyphicon glyphicon-user"></span> Me
	      <% end %>
	    </li>
	    <li role="presentation">
	      <%= link_to(edit_user_path(current_user)) do %>
	        <span class="glyphicon glyphicon-cog"></span> Settings
	      <% end %>
	    </li>
		<% end %>
      <% end %>
          </ul>
        </li>
      </ul>
	  
	  <ul class="nav navbar-nav navbar-right hidden-xs">
		<% if signed_in? %>
	  	  	<li class="hidden-xs" role="presentation"><%= link_to "", signout_path, :class => "glyphicon glyphicon-log-out", method: "delete" %></li>
		  <% else %>
		  	<% if !current_page?(signin_path) %>
		  		<li role="presentation"><%= link_to "Sign in", signin_path %></li>
			<% end %>
			<% if !current_page?(signup_path) %>
				<li role="presentation"><%= link_to "Sign up", signup_path %></li>
			<% end %>
		<% end %>
	  </ul>
	  <ul class="nav navbar-nav navbar-right visible-xs">
		<% if signed_in? %>
	  	  	<li role="presentation"><%= link_to "Sign out", signout_path, method: "delete" %></li>
		  <% else %>
		  	<% if !current_page?(signin_path) %>
		    	<li role="presentation"><%= link_to "Sign in", signin_path %></li>
			<% end %>
			<% if !current_page?(signup_path) %>
				<li role="presentation"><%= link_to "Sign up", signup_path %></li>
			<% end %>		  
		<% end %>
	  </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
